*{
    border: 0;
    padding: 0;
    margin: 0;
}
.col-3,.col-9{
    padding:0;
    border: 0;
}

.navbarSupportedContent{
    display:flex;
    justify-self: center;
    align-items: center;
}
.nav-link{
    color: white;
}


.navbar-brand{
    /* height: 10vh; */
    font-size: 30px;
    font-family: 'Courgette', cursive;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
}

body nav{
    height: 10vh;
    width: 100%;
    background-color: #706fd3;
}

.projectLink{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    width: 100%;
    background-color:rgba(201, 183, 235, 0.767);
    color: rgb(77, 56, 116);
    border:0;

}
.container{
    padding-top: 10vh;
}

.projects{
    width: 100%;

}



.contactContainer{
    width: 100%;
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    
    background-color:rgba(245, 245, 245, 0.671);
    height: 80%;
    width: 80%;
    margin: 0 auto;
    padding:20px;
}
textarea{
    width:100%;
    padding:0;
    height:200px;


}


main{
    min-height: 80vh;
    width: 100%;
    padding:0;
} 



.container img{
    padding: 10px;
}



.porfolioContainer{
    background-color:#40407a;
    min-height: 80vh;
    width: 100%;
}

.projectContent{
    height: 80vh;
    border: 0;
}




body{
    background-color:#40407a;
}



footer p{
    color:white;
    text-align: center;
    padding-top: 20px;
}

footer{
    height: 10vh;
    text-align: center;
    background-color: #706fd3;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

@media screen and (max-width:1000px){
    .container{
        padding-top: 20px;
    }
    .containerPortfolio{
        margin: 0 auto;
        width:100%;
        min-height:80vh;
        padding:30px;
    }
}